---
import {
  createSlugFromTitle,
  sortItemsByDateDesc,
} from "../../../utils/helpers";
import type { GetStaticPathsOptions, Page } from "astro";
import siteConfig from "../../../site.config";
import MainLayout from "../../../layouts/MainLayout.astro";
import Pagination from "../../../components/Pagination.astro";
import PostListPreview from "../../../components/PostListPreview.astro";
import { getAllBlogPosts, getAllTags, type BlogPost } from "../../../utils/strapi";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = (await getAllBlogPosts()).sort(sortItemsByDateDesc);
  const tags = await getAllTags();

  return tags.flatMap((tag) => {
    const filteredPosts = posts.filter(post => post.tags?.includes(tag));
    return paginate(filteredPosts, {
      params: { id: createSlugFromTitle(tag) },
      pageSize: siteConfig.postsPerPage || 2,
      props: { tagName: tag },
    });
  });
}

type Props = { 
  page: Page<BlogPost>;
  tagName: string;
};

const { page, tagName } = Astro.props;
const blog = page.data;
---

<MainLayout pageTitle={siteConfig.title + "| " + tagName + " posts"}>
  <div class="page-content">
    <h2>Posts tagged with <span class="sigmar-ff">{tagName}</span></h2>
    <div class="flex flex-col gap-8 max-w-full text-left mt-3">
      {blog.map((post) => <PostListPreview post={post} />)}
    </div>
    <Pagination page={page} class="mb-16 sm:mb-24" />
  </div>
</MainLayout>
