---
import {
  createSlugFromTitle,
  withBase,
} from "../../utils/helpers";
import Button from "../../components/Button.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import siteConfig from "../../site.config";
import { getAllBlogPosts, getAllTags } from "../../utils/strapi";

const posts = await getAllBlogPosts();
const allTags = await getAllTags();

// Count posts per tag
const tagCounts = allTags.map(tag => {
  const count = posts.filter(post => 
    post.tags?.includes(tag)
  ).length;
  return { name: tag, count };
}).sort((a, b) => b.count - a.count);
---

<MainLayout
  activePage="tags"
  pageTitle={siteConfig.title + " | " + "Tags Index"}
>
  <div class="page-content">
    <h1 class="sigmar-ff text-balance">Tags</h1>
    <p class="kanit-regular">Select a tag to view related posts.</p>
    <div class="flex flex-wrap items-center justify-center gap-4">
      {
        tagCounts.map((tag) => {
          return (
            <Button href={`${withBase("/tags/" + createSlugFromTitle(tag.name))}`} class="px-4! m-2">
              {tag.name} ({tag.count})
            </Button>
          );
        })
      }
    </div>
  </div>
</MainLayout>
