---
import type { BlogPost } from "../utils/strapi";
import FormattedDate from "./FormattedDate.astro";
import { withBase } from "../utils/helpers";

type Props = { post: BlogPost };
const { post } = Astro.props;
const { title, pubDate, description, image, slug } = post;
---

<a class="font-bold" href={withBase("/blog/" + slug)}>
  <div class="flex flex-col sm:flex-row gap-2 sm:gap-4">
    {
      image && image.url && (
        <img
          class="object-cover"
          src={image.url}
          alt={image.alt || ""}
          width={300}
          height={167}
        />
      )
    }
    <div class="flex flex-col max-w-fit">
      <h2 class="mb-1">{title}</h2>
      <FormattedDate date={new Date(pubDate)} />
      {
        description && (
          <p class="font-light text-base text-balance">{description}</p>
        )
      }
    </div>
  </div>
</a>
